---
---


@import "imports/colors";
@import "imports/fedora";
@import "imports/fonts";

@import "layouts/default";
@import "layouts/default-responsive";

.signup-form input[type="text"] {
  padding: 15px 20px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 7px;
  font-size: 20px;
  text-align: center;
  transition: 0.1s all ease;
}
